Repository DOI-ONRR/onrr.gov-site: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-cms, run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

dev: Removing parameter from cms and frontend configs
  .circleci/cms-config.yml
  .circleci/frontend-config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Fixes circleci database copy (#3217)
  .circleci/database-config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Updates file paths
  .circleci/scripts/dump-dev-db.sh
  .circleci/scripts/load-prod-db.sh
  .circleci/scripts/tunnel.sh
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Database script changes (#3218)
  .circleci/scripts/dump-dev-db.sh
  .circleci/scripts/load-prod-db.sh
  .circleci/scripts/tunnel.sh
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Updates to exit statements
  .circleci/scripts/dump-dev-db.sh
  .circleci/scripts/load-prod-db.sh
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Changes return statements to exit statements (#3219)
  .circleci/scripts/dump-dev-db.sh
  .circleci/scripts/load-prod-db.sh
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

2706: Adds aria-readonly
  frontend/src/components/inputs/SelectField.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2706: Update vuetify to 2.7.2
  frontend/package-lock.json
  frontend/src/components/inputs/SelectField.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2706: Applies Vuetify workaround
  frontend/src/components/inputs/SelectField.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2463: Adjusts search label color
  frontend/src/components/navigation/MainMenu.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Merges implement-uswds into accessibility-fixes
  .circleci/config.yml
  .gitignore
  frontend/gulpfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/blocks/ExpansionPanelBlock.vue
  frontend/src/main.js
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/_uswds-theme.scss
  frontend/src/sass/styles.scss
  frontend/vue.config.js
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Adds USWDS and additional accessibility fixes. (#3224)
  .circleci/config.yml
  .gitignore
  frontend/gulpfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/blocks/ExpansionPanelBlock.vue
  frontend/src/components/inputs/SelectField.vue
  frontend/src/components/navigation/MainMenu.vue
  frontend/src/main.js
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/_uswds-theme.scss
  frontend/src/sass/styles.scss
  frontend/vue.config.js
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Adds USWDS button
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Adds usa-button style
  frontend/src/sass/_uswds-theme-custom-styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Adds usa-button to collections
  frontend/src/components/collections/PressReleases.vue
  frontend/src/components/collections/ReporterLetters.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Adds grid package
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Updates button text for collections
  frontend/src/components/collections/PressReleases.vue
  frontend/src/components/collections/ReporterLetters.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Adds uswds-global package
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2964: Adds uuid to accordion instances
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/blocks/ExpansionPanelBlock.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Adds skip to main content
  frontend/public/index.html
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/views/Page.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Adds skip to main content for home page
  frontend/src/views/Home.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

1967: Fixes role violations
  frontend/src/components/collections/PressReleases.vue
  frontend/src/components/collections/ReporterLetters.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3231: Improves nested list rendering
  frontend/src/components/blocks/ListBlock.vue
  frontend/src/components/blocks/ListItem.vue
  frontend/src/components/blocks/NestedList.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3207: Updates ordered list formatting
  frontend/src/components/blocks/NestedList.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3220: Adds sr-only span to distinguish link text
  frontend/src/components/collections/PressReleases.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

USWDS buttons and other accessibility fixes (#3234)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/blocks/ExpansionPanelBlock.vue
  frontend/src/components/blocks/ListBlock.vue
  frontend/src/components/blocks/ListItem.vue
  frontend/src/components/blocks/NestedList.vue
  frontend/src/components/collections/PressReleases.vue
  frontend/src/components/collections/ReporterLetters.vue
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/styles.scss
  frontend/src/views/Home.vue
  frontend/src/views/Page.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2942: Increases list link line height
  frontend/src/components/blocks/NestedList.vue
  frontend/src/sass/_uswds-theme-custom-styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2942: Fixes list style
  frontend/src/components/blocks/NestedList.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Increase list link target size (#3235)
  frontend/src/components/blocks/NestedList.vue
  frontend/src/sass/_uswds-theme-custom-styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3178: Adds toggle for styling link as button.
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
  cms/src/extensions/interfaces/onrr-editor/src/styles/styles.css
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3178: Fixes empty link bug.
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

2773: Specifies H3 for press release title.
  frontend/src/components/collections/PressReleases.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3179: Adds text alignment tool
  cms/src/extensions/interfaces/onrr-editor/package-lock.json
  cms/src/extensions/interfaces/onrr-editor/package.json
  cms/src/extensions/interfaces/onrr-editor/src/onrr-editor-config.js
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-alignment-blocktune/index.js
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-alignment-blocktune/util.js
  frontend/src/components/blocks/ImageBlock.vue
  frontend/src/components/blocks/TableBlock.vue
  frontend/src/components/blocks/TextBlock.vue
Due: run-build-cms, run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2894: Hides side menu when page has no side menu items.
  frontend/src/components/navigation/SideMenu.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3230: Adds usa-link package.
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3230: Adds usa-link class for new links in ONRR editor.
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-link-autocomplete.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

Adds inline toolbar for header.
  cms/src/extensions/interfaces/onrr-editor/src/onrr-editor-config.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

2886: Updates hyperlink plugin to add external link class.
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
  cms/src/extensions/interfaces/onrr-editor/src/utils/link-utils.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

2882: Adds formula block
  frontend/public/index.html
  frontend/src/components/blocks/FormulaBlock.vue
  frontend/src/graphql/fragments.js
  frontend/src/mixins/pageBlockMixin.js
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

2882: Updates classes
  frontend/src/components/blocks/FormulaBlock.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Path conditions:
  run-build-cms: any of: cms/.*
  run-build-frontend: any of: frontend/.*
  run-copy-database=<<pipeling.parameters.run-copy-database>>: any of: .*
