Repository DOI-ONRR/onrr.gov-site: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-cms, run-build-frontend

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

parameters:
  copy-database:
    type: boolean
    default: false
  build-cms:
    type: boolean
    default: false
  build-frontend:
    type: boolean
    default: false
  restart-frontend:
    type: boolean
    default: false

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.branch >>
          name: check-updated-files
          mapping: |
            cms/.* run-build-cms true .circleci/cms-config.yml
            frontend/.* run-build-frontend true .circleci/frontend-config.yml
            .* run-copy-database << pipeline.parameters.copy-database >> .circleci/database-config.yml
            .* run-build-cms << pipeline.parameters.build-cms >> .circleci/cms-config.yml
            .* run-build-frontend << pipeline.parameters.build-frontend >> .circleci/frontend-config.yml
  restart-frontend-workflow:
    when: << pipeline.parameters.restart-frontend >>
    jobs:
      - restart-job:
          context:
            - org-global

jobs:
  restart-job:
    docker:
      - image: cimg/base:2024.11
    steps:
      - checkout
      - run:
          name: Execute restart script
          command: |
            chmod +x ~/project/.circleci/scripts/restart.sh
            ~/project/.circleci/scripts/restart.sh

dev: Conditionally resets pageLoaded
  frontend/src/router/index.js
Due: run-build-frontend

dev: Bumps docker image
  .circleci/frontend-config.yml
Due: none

dev: Router cleanup
  .circleci/cms-config.yml
  frontend/manifest.upgrade.yml
  frontend/src/router/index.js
Due: run-build-frontend

Fixes Touchpoints loading (#3420)
  .circleci/cms-config.yml
  .circleci/frontend-config.yml
  .circleci/scripts/deploy.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/sections/SiteFeedback.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/store.js
  frontend/src/store/index.js
  frontend/src/views/Home.vue
  frontend/src/views/Page.vue
Due: run-build-frontend

3421: Refactors configuration
  .circleci/cms-config.yml
  .circleci/config.yml
  .circleci/frontend-config.yml
  .circleci/restart-config.yml
  .circleci/scripts/generate-config.sh
Due: none

3421: Removes yq install
  .circleci/config.yml
Due: none

3421: Adds executable perms
  .circleci/config.yml
  .circleci/scripts/generate-config.sh
Due: none

3421: Debug script invocation
  .circleci/config.yml
Due: none

3421: Updates working directory
  .circleci/config.yml
Due: none

3421: Updates script path
  .circleci/config.yml
Due: none

3421: Removes fetch
  .circleci/scripts/generate-config.sh
Due: none

3421: Updates conditional
  .circleci/scripts/generate-config.sh
Due: none

3421: Adds cd
  .circleci/scripts/generate-config.sh
Due: none

3421: Updates continuation path
  .circleci/config.yml
Due: none

3421: Changes ~ to $HOME
  .circleci/config.yml
Due: none

3421: Removes quotes
  .circleci/config.yml
Due: none

3421: Uses literal
  .circleci/config.yml
Due: none

3421: Updates parameters
  .circleci/cms-config.yml
  .circleci/database-config.yml
  .circleci/frontend-config.yml
Due: none

3421: Adds parameters to dedicated YAML
  .circleci/cms-config.yml
  .circleci/database-config.yml
  .circleci/parameters.yml
  .circleci/scripts/generate-config.sh
Due: none

Refactor CircleCI configuration (#3427)
  .circleci/cms-config.yml
  .circleci/config.yml
  .circleci/database-config.yml
  .circleci/frontend-config.yml
  .circleci/parameters.yml
  .circleci/restart-config.yml
  .circleci/scripts/generate-config.sh
Due: none

dev: Refactors generate-config.sh
  .circleci/scripts/generate-config.sh
Due: none

dev: Fixes merge error
  .circleci/scripts/generate-config.sh
  .circleci/test.sh
Due: none

Refactor CircleCI configuration (#3429)
  .circleci/cms-config.yml
  .circleci/config.yml
  .circleci/database-config.yml
  .circleci/frontend-config.yml
  .circleci/parameters.yml
  .circleci/restart-config.yml
  .circleci/scripts/generate-config.sh
  .circleci/test.sh
Due: none

3424: Fixes document endpoint
  cms/src/extensions/endpoints/document/package-lock.json
  cms/src/extensions/endpoints/document/package.json
  cms/src/extensions/endpoints/document/src/index.js
Due: run-build-cms

3424: Remove test.sh
  .circleci/test.sh
Due: none

Fixes busted extensions, etc.
  cms/config.js
  cms/dev.manifest.yml
  cms/main.manifest.yml
  cms/package-lock.json
  cms/package.json
  cms/preview.manifest.yml
  cms/src/extensions/endpoints/document/src/index.js
  cms/src/extensions/endpoints/image-uploader/package-lock.json
  cms/src/extensions/endpoints/image-uploader/package.json
  cms/src/extensions/endpoints/press-releases/package-lock.json
  cms/src/extensions/endpoints/press-releases/package.json
  cms/src/extensions/endpoints/press-releases/src/index.js
  cms/src/extensions/endpoints/reporter-letters/package-lock.json
  cms/src/extensions/endpoints/reporter-letters/package.json
  cms/src/extensions/endpoints/reporter-letters/src/index.js
  cms/src/extensions/endpoints/unbundling/package-lock.json
  cms/src/extensions/endpoints/unbundling/package.json
  cms/src/extensions/endpoints/unbundling/src/index.js
  cms/src/extensions/hooks/index-zones/src/index.js
  frontend/preview.manifest.yml
Due: run-build-cms, run-build-frontend

3422: Fixes missing card block colors and icons
  frontend/src/graphql/fragments.js
Due: run-build-frontend

3432: Fixes editor styling
  .circleci/scripts/deploy.sh
  cms/manifest.upgrade.yml
  cms/src/extensions/interfaces/onrr-editor/src/interface.vue
Due: run-build-cms

2290: Adds upgrade manifest
  frontend/manifest.upgrade.yml
Due: run-build-frontend

2290: Fixes deploy script
  .circleci/scripts/deploy.sh
Due: none

3433: Updates CSS vars
  cms/src/extensions/interfaces/onrr-editor/src/styles/editorjs-components.css
  cms/src/extensions/interfaces/onrr-editor/src/styles/editorjs-content-reset.css
Due: run-build-cms

3438: Adds custom operation extension for uuids
  .circleci/cms-config.yml
  cms/package.json
  cms/src/extensions/operations/onrr-generate-uuid/.gitignore
  cms/src/extensions/operations/onrr-generate-uuid/package-lock.json
  cms/src/extensions/operations/onrr-generate-uuid/package.json
  cms/src/extensions/operations/onrr-generate-uuid/src/api.js
  cms/src/extensions/operations/onrr-generate-uuid/src/app.js
Due: run-build-cms

2290: Updates flows config
  .circleci/scripts/deploy.sh
  cms/config.js
  cms/configuration/README.md
  cms/configuration/flows.json
  cms/configuration/operations.json
Due: run-build-cms

2290: Fixes image upload
  cms/configuration/README.md
  cms/src/extensions/interfaces/onrr-editor/src/interface.vue
Due: run-build-cms

Upgrade Directus to 11.2.2 (#3461)
  .circleci/cms-config.yml
  .circleci/scripts/deploy.sh
  cms/config.js
  cms/configuration/README.md
  cms/configuration/flows.json
  cms/configuration/operations.json
  cms/dev.manifest.yml
  cms/docker-compose.yml
  cms/main.manifest.yml
  cms/manifest.upgrade.yml
  cms/package-lock.json
  cms/package.json
  cms/src/extensions/endpoints/document/package-lock.json
  cms/src/extensions/endpoints/document/package.json
  cms/src/extensions/endpoints/document/src/index.js
  cms/src/extensions/endpoints/image-uploader/package.json
  cms/src/extensions/endpoints/press-releases/package-lock.json
  cms/src/extensions/endpoints/press-releases/package.json
  cms/src/extensions/endpoints/press-releases/src/index.js
  cms/src/extensions/endpoints/reporter-letters/package-lock.json
  cms/src/extensions/endpoints/reporter-letters/package.json
  cms/src/extensions/endpoints/reporter-letters/src/index.js
  cms/src/extensions/endpoints/unbundling/package-lock.json
  cms/src/extensions/endpoints/unbundling/package.json
  cms/src/extensions/endpoints/unbundling/src/index.js
  cms/src/extensions/hooks/index-zones/src/index.js
  cms/src/extensions/interfaces/onrr-editor/src/interface.vue
  cms/src/extensions/interfaces/onrr-editor/src/styles/editorjs-components.css
  cms/src/extensions/interfaces/onrr-editor/src/styles/editorjs-content-reset.css
  cms/src/extensions/operations/onrr-generate-uuid/.gitignore
  cms/src/extensions/operations/onrr-generate-uuid/package-lock.json
  cms/src/extensions/operations/onrr-generate-uuid/package.json
  cms/src/extensions/operations/onrr-generate-uuid/src/api.js
  cms/src/extensions/operations/onrr-generate-uuid/src/app.js
  frontend/manifest.upgrade.yml
  frontend/preview.manifest.yml
  frontend/src/graphql/fragments.js
Due: run-build-cms, run-build-frontend

Upgrade Directus to 11.2.2 (dev > main) (#3463)
  .circleci/cms-config.yml
  .circleci/scripts/deploy.sh
  cms/config.js
  cms/configuration/README.md
  cms/configuration/flows.json
  cms/configuration/operations.json
  cms/dev.manifest.yml
  cms/docker-compose.yml
  cms/main.manifest.yml
  cms/manifest.upgrade.yml
  cms/package-lock.json
  cms/package.json
  cms/src/extensions/endpoints/document/package-lock.json
  cms/src/extensions/endpoints/document/package.json
  cms/src/extensions/endpoints/document/src/index.js
  cms/src/extensions/endpoints/image-uploader/package.json
  cms/src/extensions/endpoints/press-releases/package-lock.json
  cms/src/extensions/endpoints/press-releases/package.json
  cms/src/extensions/endpoints/press-releases/src/index.js
  cms/src/extensions/endpoints/reporter-letters/package-lock.json
  cms/src/extensions/endpoints/reporter-letters/package.json
  cms/src/extensions/endpoints/reporter-letters/src/index.js
  cms/src/extensions/endpoints/unbundling/package-lock.json
  cms/src/extensions/endpoints/unbundling/package.json
  cms/src/extensions/endpoints/unbundling/src/index.js
  cms/src/extensions/hooks/index-zones/src/index.js
  cms/src/extensions/interfaces/onrr-editor/src/interface.vue
  cms/src/extensions/interfaces/onrr-editor/src/styles/editorjs-components.css
  cms/src/extensions/interfaces/onrr-editor/src/styles/editorjs-content-reset.css
  cms/src/extensions/operations/onrr-generate-uuid/.gitignore
  cms/src/extensions/operations/onrr-generate-uuid/package-lock.json
  cms/src/extensions/operations/onrr-generate-uuid/package.json
  cms/src/extensions/operations/onrr-generate-uuid/src/api.js
  cms/src/extensions/operations/onrr-generate-uuid/src/app.js
  frontend/manifest.upgrade.yml
  frontend/preview.manifest.yml
  frontend/src/graphql/fragments.js
Due: run-build-cms, run-build-frontend

3373: Testing short proxy_read_timeout
  frontend/nginx.conf
Due: run-build-frontend

3373: Adds endpoint extension
  .circleci/cms-config.yml
  cms/package.json
  cms/src/extensions/endpoints/delayed-timeout/.gitignore
  cms/src/extensions/endpoints/delayed-timeout/package-lock.json
  cms/src/extensions/endpoints/delayed-timeout/package.json
  cms/src/extensions/endpoints/delayed-timeout/src/index.js
  frontend/nginx.conf
Due: run-build-cms, run-build-frontend

3373: Build delayed-timeout
  cms/package.json
  frontend/nginx.conf
Due: run-build-cms, run-build-frontend

3373: Fixes endpoint code.
  cms/src/extensions/endpoints/delayed-timeout/src/index.js
Due: run-build-cms
