Repository DOI-ONRR/onrr.gov-site: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-cms, run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Calls runCardBlocksCardContentBlocks
  cms/src/extensions/endpoints/flows/src/services/cardBlocksFlow/cardBlocks.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Fixes bug
  cms/src/extensions/endpoints/flows/src/operations/cardBlocks/getCardBlocksCardContentBlocks.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Fixes flow and operations misconfigurations
  cms/configuration/flows.json
  cms/configuration/operations.json
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Adds collection to query
  cms/src/extensions/endpoints/flows/src/queries/cardBlocks.js
  cms/src/extensions/endpoints/flows/src/services/cardBlocksFlow/cardBlocksCardContentBlocks.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Overrides editor.js URL validation
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Updates regex pattern
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: minor tweak
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Adds Directus SDK dep
  cms/src/extensions/endpoints/onrr-flows/package-lock.json
  cms/src/extensions/endpoints/onrr-flows/package.json
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Adds files flow
  .vscode/settings.json
  cms/src/extensions/endpoints/onrr-flows/src/constants.js
  cms/src/extensions/endpoints/onrr-flows/src/index.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/downloadFile.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/exportDirectusFilesById.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/getDirectusFilesByUuid.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/getFolderById.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/getFolderByName.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/index.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/updateDirectusFile.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/uploadDirectusFile.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/tabBlocks/updateTabBlocksTabBlocksItem.js
  cms/src/extensions/endpoints/onrr-flows/src/services/filesFlow/files.js
  cms/src/extensions/endpoints/onrr-flows/src/services/filesFlow/index.js
  cms/src/extensions/endpoints/onrr-flows/test/__mocks__/files/files.mocks.js
  cms/src/extensions/endpoints/onrr-flows/test/__setup__/files/files.setup.js
  cms/src/extensions/endpoints/onrr-flows/test/__tests__/files/files.test.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Fixes config issue
  .circleci/cms-config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Removes dead code
  cms/src/extensions/endpoints/onrr-flows/src/constants.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/exportDirectusFilesById.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/getFolderById.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/getFolderByName.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/updateDirectusFile.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Change to trigger build
  cms/src/extensions/endpoints/onrr-flows/src/constants.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Updates circleci config
  .circleci/cms-config.yml
  .circleci/config.yml
  .circleci/frontend-config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

3304: Fixes bug in downloadFile
  cms/src/extensions/endpoints/onrr-flows/src/constants.js
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/downloadFile.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

directus-flows: Fixes bug
  cms/src/extensions/endpoints/onrr-flows/src/services/expansionPanelsFlow/expansionPanelsExpansionPanelBlocks.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

Create jsconfig.json
  jsconfig.json
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Revert "Create jsconfig.json"
  jsconfig.json
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Expansion panel flow bug fix (#3316)
  cms/src/extensions/endpoints/onrr-flows/src/services/expansionPanelsFlow/expansionPanelsExpansionPanelBlocks.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

dev: reverts version
  .circleci/config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

dev: Bumps path-filtering orb
  .circleci/config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Updates footer with USWDS
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navigation/Footer.vue
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/_uswds-theme.scss
  frontend/src/sass/components/_onrr-footer.scss
  frontend/src/sass/styles.scss
  frontend/vue.config.js
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Updated config.yml
  .circleci/config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Update config.yml
  .circleci/config.yml
Due: run-copy-database=<<pipeling.parameters.run-copy-database>>

Update _onrr-footer.scss
  frontend/src/sass/components/_onrr-footer.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Changes uswds path setting
  .gitignore
  frontend/gulpfile.js
  frontend/src/components/navigation/Footer.vue
  frontend/src/main.js
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Bumps text color
  frontend/src/sass/components/_onrr-footer.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Bumps lato font size for accordion
  frontend/src/sass/components/_onrr-accordion.scss
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Makes pretty footer at smaller screen sizes
  frontend/src/components/navigation/Footer.vue
  frontend/src/sass/components/_onrr-footer.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Updates header icons
  frontend/src/components/navigation/HeaderMenu.vue
  frontend/src/sass/components/_onrr-header.scss
  frontend/src/sass/styles.scss
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Adds mailto to URL validation
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3244: Defaults to _self and fixes update bug
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

3253: Updates syntax
  cms/src/extensions/hooks/index-zones/src/index.js
Due: run-build-cms, run-copy-database=<<pipeling.parameters.run-copy-database>>

Implement USWDS for footer (#3328)
  .circleci/config.yml
  .gitignore
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-hyperlink.js
  frontend/gulpfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navigation/Footer.vue
  frontend/src/components/navigation/HeaderMenu.vue
  frontend/src/main.js
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/_uswds-theme.scss
  frontend/src/sass/components/_onrr-accordion.scss
  frontend/src/sass/components/_onrr-footer.scss
  frontend/src/sass/components/_onrr-header.scss
  frontend/src/sass/styles.scss
  frontend/vue.config.js
Due: run-build-cms, run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3253: Updates side drawer icons
  frontend/src/components/navigation/HeaderMenu.vue
  frontend/src/components/toolbars/AppToolbar.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3253: Fixes NRRD button icon
  frontend/src/components/navigation/HeaderMenu.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

3321: Fixes return to top above footer
  frontend/src/components/toolbars/AppToolbar.vue
Due: run-build-frontend, run-copy-database=<<pipeling.parameters.run-copy-database>>

Path conditions:
  run-build-cms: any of: cms/.*
  run-build-frontend: any of: frontend/.*
  run-copy-database=<<pipeling.parameters.run-copy-database>>: any of: .*
