Repository DOI-ONRR/onrr.gov-site: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-cms, run-build-frontend

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.0.0

parameters:
  copy-database:
    type: boolean
    default: false
  build-cms:
    type: boolean
    default: false
  build-frontend:
    type: boolean
    default: false

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.branch >>
          name: check-updated-files
          mapping: |
            cms/.* run-build-cms true .circleci/cms-config.yml
            frontend/.* run-build-frontend true .circleci/frontend-config.yml
            .* run-copy-database << pipeline.parameters.copy-database >> .circleci/database-config.yml
            .* run-build-cms << pipeline.parameters.build-cms >> .circleci/cms-config.yml
            .* run-build-frontend << pipeline.parameters.build-frontend >> .circleci/frontend-config.yml

3294: Adds debug statements
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/updateDirectusFile.js
Due: run-build-cms

3294: Passes file id to updateFile
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/updateDirectusFile.js
Due: run-build-cms

3333: Adds auth token to API calls
  cms/src/extensions/endpoints/onrr-flows/src/operations/tabBlocks/getTabBlocksTabBlocks.js
  cms/src/extensions/endpoints/onrr-flows/src/services/tabBlocksFlow/tabBlocksTabBlocks.js
Due: run-build-cms

3246: Updates first table columns to th
  frontend/src/components/blocks/TableBlock.vue
  frontend/src/components/collections/Handbooks.vue
  frontend/src/components/collections/IBMP.vue
  frontend/src/components/collections/IndexZones.vue
  frontend/src/components/collections/IndianGasMajorPortion.vue
  frontend/src/components/collections/InterestOilGas.vue
  frontend/src/components/collections/InterestSolids.vue
  frontend/src/components/collections/NYMEX.vue
  frontend/src/components/collections/PlantSpecificUCAs.vue
  frontend/src/components/collections/ReporterLetters.vue
  frontend/src/components/collections/Rulemakings.vue
  frontend/src/sass/_uswds-theme-custom-styles.scss
Due: run-build-frontend

3246: Collection fields are case sensitive
  frontend/src/components/collections/InterestOilGas.vue
  frontend/src/components/collections/InterestSolids.vue
Due: run-build-frontend

3335: Sets aria-label for inline links
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-link-autocomplete.js
Due: run-build-cms

3340: Conditionally renders sr-only th for handbooks
  frontend/src/components/blocks/TextBlock.vue
  frontend/src/components/collections/Handbooks.vue
Due: run-build-frontend

3342: Adjusts manifest files for memory and instances
  cms/dev.manifest.yml
  cms/main.manifest.yml
  cms/preview.manifest.yml
  frontend/dev.manifest.yml
  frontend/main.manifest.yml
  frontend/preview.manifest.yml
Due: run-build-cms, run-build-frontend

3342: Changes memory allocation per instance
  cms/dev.manifest.yml
  cms/main.manifest.yml
  cms/preview.manifest.yml
  frontend/dev.manifest.yml
  frontend/main.manifest.yml
  frontend/preview.manifest.yml
Due: run-build-cms, run-build-frontend

3361: Updates nested lists styles
  frontend/src/components/blocks/NestedList.vue
Due: run-build-frontend

3366: Updates config
  cms/config.js
  cms/preview.manifest.yml
Due: run-build-cms

3366: Removes LOG_LEVEL
  cms/config.js
Due: run-build-cms

3366: Adjusts memory allocation
  cms/dev.manifest.yml
  cms/main.manifest.yml
  frontend/dev.manifest.yml
  frontend/main.manifest.yml
  frontend/preview.manifest.yml
Due: run-build-cms, run-build-frontend

Revert "3366: Adjusts memory allocation"
  cms/dev.manifest.yml
  cms/main.manifest.yml
  frontend/dev.manifest.yml
  frontend/main.manifest.yml
  frontend/preview.manifest.yml
Due: run-build-cms, run-build-frontend

3306: Better memory allocation
  cms/dev.manifest.yml
  cms/main.manifest.yml
  cms/preview.manifest.yml
  frontend/dev.manifest.yml
  frontend/main.manifest.yml
  frontend/preview.manifest.yml
Due: run-build-cms, run-build-frontend

3370: Adds debug statements
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/updateDirectusFile.js
Due: run-build-cms

3370: Updates call to updateFile
  cms/src/extensions/endpoints/onrr-flows/src/operations/files/updateDirectusFile.js
Due: run-build-cms

dev: local config changes
  database/docker-compose.yml
  frontend/.env.development
Due: run-build-frontend

3384: Implements touchpoints
  frontend/src/App.vue
  frontend/src/components/sections/SiteFeedback.vue
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/_uswds-theme.scss
Due: run-build-frontend

3384: Fixes build errors
  frontend/src/components/sections/SiteFeedback.vue
Due: run-build-frontend

3384: Addresses gas4 function dep
  frontend/src/components/sections/SiteFeedback.vue
Due: run-build-frontend

3384: Implements touchpoints
  frontend/public/2dcadeaf.js
  frontend/src/App.vue
  frontend/src/components/blocks/TabsBlock.vue
  frontend/src/components/sections/SiteFeedback.vue
Due: run-build-frontend

3365: Cleanup
  frontend/src/components/collections/ReporterLetters.vue
  frontend/src/components/sections/SiteFeedback.vue
  frontend/src/views/Home.vue
Due: run-build-frontend

3365: Skips graphql call until page id is defined.
  frontend/src/router/index.js
  frontend/src/views/TwoColumnLeft.vue
Due: run-build-frontend

3322: Adds external link indicator to NRRD button
  frontend/src/components/navigation/HeaderMenu.vue
Due: run-build-frontend

3322: Remove button style
  frontend/src/components/navigation/HeaderMenu.vue
Due: run-build-frontend

3322: All header items open in _self
  frontend/src/components/navigation/HeaderMenu.vue
Due: run-build-frontend

2290: Upgrades Directus
  cms/docker-compose.yml
  cms/package-lock.json
  cms/package.json
  frontend/src/graphql/fragments.js
Due: run-build-cms, run-build-frontend

dev: Adds circleci job for restart
  .circleci/config.yml
  .circleci/scripts/restart.sh
Due: none

Revert "dev: Adds circleci job for restart"
  .circleci/config.yml
  .circleci/scripts/restart.sh
Due: none

dev: Loads site feedback conditionally
  frontend/src/App.vue
  frontend/src/components/sections/SiteFeedback.vue
  frontend/src/main.js
  frontend/src/store.js
  frontend/src/store/index.js
  frontend/src/views/Home.vue
  frontend/src/views/Page.vue
Due: run-build-frontend

dev: fixes when site feedback is renderable.
  frontend/src/views/Home.vue
  frontend/src/views/Page.vue
Due: run-build-frontend

dev: Adds vuex
  frontend/manifest.upgrade.yml
  frontend/package-lock.json
  frontend/package.json
Due: run-build-frontend

dev: Updates shared state to set pageLoaded to false before route change
  frontend/src/router/index.js
Due: run-build-frontend

dev: Adds watch to Page
  frontend/src/views/Home.vue
  frontend/src/views/Page.vue
Due: run-build-frontend

dev: Handles tabs route changes
  .circleci/scripts/deploy.sh
  frontend/src/router/index.js
Due: run-build-frontend

dev: Logging
  frontend/src/router/index.js
Due: run-build-frontend

dev: Debugging
  frontend/src/router/index.js
Due: run-build-frontend

dev: More of the same
  frontend/src/router/index.js
Due: run-build-frontend

dev: Debug from and to
  frontend/src/router/index.js
Due: run-build-frontend
