Repository DOI-ONRR/onrr.gov-site: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-cms, run-build-frontend

3079: Updates cms manifests
  .circleci/frontend-config.yml
  .circleci/trigger-cms-update.sh
  cms/Procfile
  cms/dev.manifest.yml
  cms/main.manifest.yml
Due: run-build-cms

3160: Fixes link paths
  cms/src/extensions/endpoints/link-autocomplete/src/index.js
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-link-autocomplete.js
Due: run-build-cms

3159: Sets picker attribute
  cms/src/extensions/interfaces/onrr-editor/src/interface.vue
Due: run-build-cms

3079: Fixes bug
  cms/src/extensions/hooks/ibmp/src/index.js
  cms/src/extensions/hooks/index-zones/src/index.js
  cms/src/extensions/hooks/indian-gas-major-portion/src/index.js
  cms/src/extensions/hooks/nymex/src/index.js
  cms/src/utils/file-utils.js
Due: run-build-cms

3156: Sets text color options
  cms/src/extensions/interfaces/onrr-editor/src/onrr-editor-config.js
Due: run-build-cms

3167: sets link target based on href
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-link-autocomplete.js
Due: run-build-cms

3168: Adds classes and SCSS for inline link files
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-link-autocomplete.js
  frontend/src/App.vue
  frontend/src/scss/onrr.scss
Due: run-build-cms, run-build-frontend

3170: Fixes issue where empty links were being added to lists
  cms/src/extensions/interfaces/onrr-editor/src/onrr-editor-config.js
  cms/src/extensions/interfaces/onrr-editor/src/plugins/onrr-editorjs-nested-list.js
  cms/src/extensions/interfaces/onrr-editor/src/utils/editorjs-nested-list/caret.js
  cms/src/extensions/interfaces/onrr-editor/src/utils/editorjs-nested-list/dom.js
  frontend/src/scss/onrr.scss
Due: run-build-cms, run-build-frontend

3079: Updates green text color
  cms/src/extensions/interfaces/onrr-editor/src/onrr-editor-config.js
Due: run-build-cms

3079: Updates component markup
  frontend/src/components/collections/PressReleases.vue
  frontend/src/scss/onrr.scss
Due: run-build-frontend

3079: Missed reporter letters
  frontend/src/components/collections/ReporterLetters.vue
Due: run-build-frontend

3193: Fixes reporter letters collection file icons
  frontend/src/components/collections/ReporterLetters.vue
  frontend/src/mixins/iconMixin.js
Due: run-build-frontend

3193: Fixes NYMEX icons
  frontend/src/components/collections/NYMEX.vue
Due: run-build-frontend

3193: Updates file download icon for plant specific UCAs
  frontend/src/components/collections/PlantSpecificUCAs.vue
Due: run-build-frontend

3193: Updates press releases icons for collection page.
  frontend/src/components/collections/PressReleases.vue
Due: run-build-frontend

3193: Misspelled "ONRR"
  frontend/src/components/collections/PressReleases.vue
Due: run-build-frontend

1971: Sets focus-visible style for anchor tags
  frontend/src/scss/onrr.scss
Due: run-build-frontend

2770: Updates breadcrumb divider color
  frontend/src/App.vue
Due: run-build-frontend

1971: Style changes for footer links
  frontend/src/components/navigation/Footer.vue
  frontend/src/scss/onrr.scss
Due: run-build-frontend

2706: Updates sidemenu role attributes
  frontend/src/components/navigation/SideMenu.vue
Due: run-build-frontend

implement-uswds: initial commit
  .gitignore
  frontend/gulpfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/blocks/ExpansionPanelBlock.vue
  frontend/src/main.js
  frontend/src/sass/_uswds-theme-custom-styles.scss
  frontend/src/sass/_uswds-theme.scss
  frontend/src/sass/styles.scss
  frontend/vue.config.js
Due: run-build-frontend

implement-uswds: Updates package.json
  frontend/package.json
Due: run-build-frontend

implement-uswds: Changes header element for accordion
  frontend/src/components/blocks/ExpansionPanelBlock.vue
Due: run-build-frontend

3079: Moves database job to new file
  .circleci/cms-config.yml
  .circleci/config.yml
  .circleci/database-config.yml
  .circleci/frontend-config.yml
Due: none

Removes pipeling parameter from mapping
  .circleci/config.yml
Due: none

Fixes path
  .circleci/config.yml
Due: none

Temporarily removing database mapping
  .circleci/config.yml
Due: none

adds mapping params
  .circleci/config.yml
Due: none

Reverting some changes
  .circleci/cms-config.yml
  .circleci/config.yml
  .circleci/frontend-config.yml
Due: none

Adds back database mapping
  .circleci/config.yml
Due: none

Fixes mispelling
  .circleci/config.yml
Due: none

Resolves parameter name conflict
  .circleci/config.yml
Due: none

Adds execute privileges to scripts; adds robots.txt overwrite
  .circleci/database-config.yml
  .circleci/frontend-config.yml
Due: none

3055: Updates favicon path.
  frontend/public/index.html
Due: run-build-frontend

dev: Updates main manifest
  frontend/main.manifest.yml
Due: run-build-frontend

Fixes cloud.gov manifest file (#3211)
  frontend/main.manifest.yml
Due: run-build-frontend

Squashed commit of the following:
  frontend/main.manifest.yml
Due: run-build-frontend

dev: Tinkering with database parameter
  .circleci/cms-config.yml
  .circleci/database-config.yml
  .circleci/frontend-config.yml
Due: none

Path conditions:
  run-build-cms: any of: cms/.*
  run-build-frontend: any of: frontend/.*
